{% extends '_Layout.html' %}


{% block content %}
{% csrf_token %}
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="row">
            <div class="col-lg-12">
            <div class="ibox " id="iboxReporte">
                <div class="ibox-title">
                    <h5>Listado</h5>
                    <input type="hidden" id="vmsj" value="{{mensaje}}" />
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <form id="frmFiltrar" method="POST">
                        <div class="row" style="border-bottom: 1px #dee2e6 solid;padding-bottom: 10px;">
                            <div class="col-lg-2 col-6" style="padding-left:5px;padding-right: 5px;">
                                <select id="selObra" name="selObra" class="form-control" required>
                                    {% for obras in obrasList %}
                                        <option value="{{obras.obra.id}}">{{obras.obra.descripcion}}</option>
                                    {% endfor %} 
                                </select>
                                <small>Obra</small>
                            </div>
                            <div class="col-lg-2 col-6" style="padding-left:5px;padding-right: 5px;">
                                <select id="selCapataz" name="selCapataz" class="form-control" required>
                                    <option value="0" selected>Todos</option>
                                    {% for capataz in capatazList %}
                                        <option value="{{capataz.id}}">{{capataz.nombre}} {{capataz.apellido}}</option>
                                    {% endfor %}                                     
                                </select>
                                <small>Capataz</small>
                            </div>                            
                            <div class="col-lg-7 col-0" style="padding-left:5px;padding-right: 5px;"></div>
                            <div class="col-lg-1 col-12" style="text-align: end;">
                                <button type="button" id="btnReportePDF" class="btn btn-sm btn-primary" onclick="reportePDF()"><i style="btn-primary" class="fa fa-print"></i></button> 
                                <button type="submit" id="btnBuscarPartidas" class="btn btn-sm btn-primary"><i style="btn-primary" class="fa fa-search"></i></button>
                                
                            </div>
                        </div>
                    </form><br />
                    <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="html5buttons">
                        <div class="dt-buttons btn-group flex-wrap">          
                        
                        
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover dataTables-example dataTable" id="dtTratos" aria-describedby="dtTratos_info" role="grid">
                    <thead>
                    <tr role="row">
                        <th class="sorting">Trato</th>
                        <th class="sorting">Cod. Familia</th>
                        <th class="sorting">Partida</th>
                        
                        <th class="sorting">Total Partida</th>
                        
                        <th class="sorting">Valor Trato</th>
                        <th class="sorting">Unidad Medida</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trato in tratos %}
                        <tr>
                            <td>{{trato.cod}}</td>
                            <td>{{trato.codFamilia}}</td>
                            <td>{{trato.partida}}</td>
                            <td style="vertical-align: middle;">${{trato.valorTrato_sep}}</td>
                            <td>
                            {% if trato.tratomodelo_set.all|length > 0 %}
                            
                                {% for m in trato.tratomodelo_set.all %}
                                    {% if m.estado %}
                                        <!--<button type="submit" class="btn btn-sm btn-primary btnAddModel" onclick="mModelos(this)" style="margin:2px"><small style="font-size: 12px;font-weight: bold;margin: 0;">{{m.modelo.cod}}</small>|<small style="font-size: 12px;font-weight: bold;margin: 0;">R:{{m.rendimiento}}</small>|<small style="font-size: 12px;font-weight: bold;margin: 0;">${{m.valorTratoModelo_sep}}</small></button>
                                        <button type="submit" class="btn btn-sm btn-primary btnAddModel" onclick="mModelos(this)" style="margin:2px"><small style="font-size: 12px;font-weight: 600;margin: 0;">{{m.modelo.cod}}</small>|<small style="font-size: 12px;font-weight: 600;margin: 0;">${{m.valorTratoModelo_sep}}</small></button>-->
                                        {{m.modelo.cod}} [ ${{m.valorTratoModelo_sep}} ] <br />
                                    {% endif %}    
                                {% endfor %}    

                            {% endif %}  
                            </td>
                            <td>{{trato.unidadMedida.descripcion}}</td>

                        </tr>
                    {% endfor %}
                    </tbody>

                    </table>
                    <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item prev" id="prev">
                                <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link"><</a>
                            </li>
                                <li class="paginate_button page-item active">
                                    <span id="page-info"> Página {{ tratos.number }} de {{ tratos.paginator.num_pages }} </span>
                            </li>
                            
                            <li class="paginate_button page-item next" id="next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="4" tabindex="0" class="page-link">></a></li></ul></div></div>
                    </div>
                    <div id="pagination">
                        
                        <input id="hCurrentPage" type="hidden" value="{{ tratos.number }}" />
                        <input id="hTotalPage" type="hidden" value="{{ tratos.paginator.num_pages }}" />

                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script>
        $(function(){
            $('#prev').click(function(){
                currentPage = $("#hCurrentPage").val();
                if (currentPage > 1) {
                    let obra = $("#selObra").val();
                    let capataz =$("#selCapataz").val();
                    let page = currentPage - 1;
                    buscar(obra,capataz,page);
                }
            });

            $('#next').click(function(){
                currentPage = parseInt($("#hCurrentPage").val());
                totalPages = parseInt($("#hTotalPage").val());
                if (currentPage < totalPages) {
                    let obra = $("#selObra").val();
                    let capataz =$("#selCapataz").val();
                    let page = currentPage + 1;
                    buscar(obra,capataz,page);
                }
            });

        });
        $("#selObra").on("change", function( event ) {
            
            let data = new FormData();
            data.append('idObra',$("#selObra").val());
            data.append('csrfmiddlewaretoken',$("input[name=csrfmiddlewaretoken]").val());
            fetch("{% url 'capatazObra' %}",{method:'POST',body: data})
            .then((response) =>  response.json())
            .then((data) => {

                    $('#selCapataz').empty();

                    jData = JSON.parse(data)
            
                    $("#trLoad").hide();
                    $.each(jData, function(i, item) {
                        $('#selCapataz').append('<option value="'+item.id+'">'+item.nombre+'</option>');
                    });

            })
            .catch(function(error){console.log(error);});

        });
        $("#frmFiltrar").on("submit", function( event ) {
        
            let obra = $("#selObra").val();
            let capataz =$("#selCapataz").val();

            let page = 1;
            buscar(obra,capataz,page);
            
            return false;
        });

        function buscar(obra,capataz,page)
        {
            $('#iboxReporte').children('.ibox-content').toggleClass('sk-loading');
            let data = new FormData();
            data.append('idObra',obra);
            data.append('idCapataz',capataz);
            data.append('page',page);
            data.append('csrfmiddlewaretoken',$("input[name=csrfmiddlewaretoken]").val());


            fetch("{% url 'reporteCapataz' %}",{method:'POST',body: data})
            .then((response) =>  response.json())
            .then((data) => {

                    $('#dtTratos tbody').empty();
                    data.tratos.forEach(function(trato) {
                        $('#dtTratos tbody').append('<tr>'
                                +'<td>' + trato.cod + '</td>'
                                +'<td>' + trato.codFamilia + '</td>'
                                +'<td>' + trato.partida + '</td>'
                                +'<td>' + trato.valorTrato + '</td>'
                                +'<td>' + trato.modelos_concatenados + '</td>'
                                +'<td>' + trato.unidadMedida + '</td>'
                                +'</tr>');
                    });

                    $("#hCurrentPage").val(data.current_page);
                    $("#hTotalPage").val(data.num_pages);

                    $('#prev').prop('disabled', !data.has_previous);
                    $('#next').prop('disabled', !data.has_next);

                    $('#page-info').text('Página ' + data.current_page + ' de ' + data.num_pages);
                    $('#iboxReporte').children('.ibox-content').toggleClass('sk-loading');
            })
            .catch(function(error){console.log(error);$('#iboxReporte').children('.ibox-content').toggleClass('sk-loading');});

            
        }


        function reportePDF()
        {
            let obra =$("#selObra").val();
            let capataz=$("#selCapataz").val();
            url="{% url 'capatazImprimir' %}?obra="+obra+"&capataz="+capataz
            window.open(url, '_blank');
        }
    </script>

{% endblock %}
