<div class="footer">
    <div class="float-right">
        Example text
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014 - 2019
    </div>


	<div class="modal fade" id="modalAlertSuccess" tabindex="-1" data-dismiss="modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modalCenter modal-sm" role="document">
			<div class="modal-content modalAlert" style="border-radius:100px">
				<div class="modalAlert modalSuccess  text-center" id="alertHeader">
					<br />
					<div clas="row" style="width:100%">
						<div class="class="col-xs-12 col-sm-12">
							<i class="fas fa-check-circle fa-w-14 fa-9x" data-dismiss="modal" style="color:white; cursor:pointer"></i>
						</div>
					</div>
					<div clas="row" style="width:100%">
						<div class="class=" col-xs-12 col-sm-12">
							<h3 class="modal-title" id="modalMessageSuccess" style="color:#ffffff"></h3>
							<br /><br />
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="modalAlertError" tabindex="-1" data-dismiss="modal" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modalCenter modal-sm" role="document">
			<div class="modal-content modalAlert modalWarning" style="border-radius:100px">
				<div class="modalAlert modalWarning  text-center" id="alertHeader">
					<br />
					<div clas="row" style="width:100%">
						<div class="class=" col-xs-12 col-sm-12">
							<i class="fas fa-exclamation-circle fa-w-14 fa-9x" data-dismiss="modal" style="color:white; cursor:pointer"></i>
						</div>
					</div>
					<div clas="row" style="width:100%">
						<div class="class=" col-xs-12 col-sm-12">
							<h3 class="modal-title" id="modalMessageError" style="color:#ffffff"></h3>
							<br /><br />
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>



	<div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
		<div class="modal-dialog modal-dialog-centered modalCenter modal-sm" role="document">
			<div class="modal-content modalAlert modalWarning">
				<div class="modal-header modalAlert text-center" id="alertHeader">
					<i class="fas fa-exclamation-circle fa-w-14 fa-9x" data-dismiss="modal" style="color:white; cursor:pointer"></i>
					<h4 class="modal-title" id="modalMessageConfirm" style="color:#ffffff"></h4>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="btnConfirmSi" onclick="">SI</button>
					<button type="button" class="btn btn-default" data-dismiss="modal" id="modal-btn-no">NO</button>
				</div>

			</div>
		</div>
	</div>

</div>
